# Exploration

In [1]:
import pandas as pd
import numpy as np
import os
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
db_path = os.path.join(os.path.dirname(os.getcwd()), 'data', 'datalab.sqlite')
db_path

'/Users/loicdogon/code/RonanB400/decp_ml/data/datalab.sqlite'

In [3]:
conn = sqlite3.connect(db_path)
db = conn.cursor()
query = f"""
SELECT *
FROM "data.gouv.fr.2022.clean"
"""

data = pd.read_sql_query(query, conn)

In [4]:
data

,uid,id,nature,acheteur_id,acheteur_nom,acheteur_siren,titulaire_id,titulaire_typeIdentifiant,titulaire_nom,titulaire_siren,...,ccag,sousTraitanceDeclaree,typeGroupementOperateurs,tauxAvance,origineUE,origineFrance,lieuExecution_code,lieuExecution_typeCode,idAccordCadre,source_open_data
0,2154005160001320242024-LOT04,20242024-LOT04,Marché,21540051600013,COMMUNE DE BATILLY,215400516,78885470100018,SIRET,ACOMETAL,788854701,...,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,54980,Code postal,None,data.gouv.fr decp-2024.json
1,243500667002882021M226MO,2021M226MO,Marché,24350066700288,CC VAL D'ILLE-AUBIGNE,243500667,38373211200032,SIRET,UNIVERS,383732112,...,Prestations intellectuelles,1.0,Solidaire,NaN,NaN,NaN,35520,Code postal,None,data.gouv.fr decp-2024.json
2,249710047000472024SS_PRD_TRV,2024SS_PRD_TRV,Marché,24971004700047,COMMUNAUTE DE COMMUNES DE MARIE GALANTE,249710047,43387249600016,SIRET,COTRAM B.T.P.,433872496,...,Travaux,NaN,Solidaire,NaN,NaN,NaN,97112,Code postal,None,data.gouv.fr decp-2024.json
3,6254801990001124-0806-L2,24-0806-L2,Marché,62548019900011,"LA MAISON POUR TOUS, SOCIETE ANONYME COOPERATI...",625480199,55204695502544,SIRET,ENGIE ENERGIE SERVICES,552046955,...,Pas de CCAG,0.0,Pas de groupement,NaN,NaN,NaN,39,Code département,None,data.gouv.fr decp-2024.json
4,20002563300013202424011BCR,202424011BCR,Marché,20002563300013,SI DE RESTAURATION COLLECTIVE,200025633,47698032100238,SIRET,POMONA EPISAVEURS,476980321,...,Fournitures courantes et services,0.0,Pas de groupement,0.0,0.0,0.0,45800,Code postal,None,data.gouv.fr decp-2025-04.json
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299665,243000643000452024240072,2024240072,Marché,24300064300045,COMMUNAUTE AGGLO NIMES METROPOLE,243000643,79386502300055,SIRET,SERVICES MAINTENANCE ENERGIES,793865023,...,Fournitures courantes et services,NaN,Pas de groupement,NaN,NaN,NaN,30947,Code postal,None,data.gouv.fr decp-2024.json
299666,2133016250001720230231110,20230231110,Marché,21330162500017,COMMUNE D'EYSINES,213301625,44010434700032,SIRET,L.T.B. AQUITAINE,440104347,...,Travaux,NaN,Pas de groupement,NaN,NaN,NaN,33320,Code postal,None,data.gouv.fr decp-2024.json
299667,25440109400068202323_006_02,202323_006_02,Marché,25440109400068,SYNDICAT MIXTE ATLANTIC'EAU,254401094,42856174000138,SIRET,CISE TP,428561740,...,Travaux,1.0,Conjoint,NaN,NaN,NaN,44100,Code postal,None,data.gouv.fr decp-2024.json
299668,219711132000152022I772-4,2022I772-4,Marché,21971113200015,COMMUNE DU GOSIER,219711132,41347003000029,SIRET,SOCIETE GUADELOUPEENNE DE TRAVAUX D'ENVIRONNEMENT,413470030,...,Travaux,NaN,Pas de groupement,0.0,0.0,0.0,97190,Code postal,None,data.gouv.fr decp-2025-01.json
299669,200054807000172025Z240001S10,2025Z240001S10,Marché,20005480700017,METROPOLE D'AIX-MARSEILLE-PROVENCE,200054807,43323036400047,SIRET,SETEC ITS,433230364,...,Prestations intellectuelles,NaN,Pas de groupement,0.0,0.0,0.0,13567,Code postal,2024Z240001F0,data.gouv.fr decp-2025-04.json

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299670 entries, 0 to 299669
Data columns (total 31 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   uid                        299670 non-null  object
 1   id                         299670 non-null  object
 2   nature                     299670 non-null  object
 3   acheteur_id                299670 non-null  object
 4   acheteur_nom               299477 non-null  object
 5   acheteur_siren             299500 non-null  object
 6   titulaire_id               299670 non-null  object
 7   titulaire_typeIdentifiant  299670 non-null  object
 8   titulaire_nom              292097 non-null  object
 9   titulaire_siren            298537 non-null  object
 10  objet                      299670 non-null  object
 11  montant                    299670 non-null  float64
 12  codeCPV                    299670 non-null  object
 13  procedure                  299670 non-null  object
 14  dureeMois                  299663 non-null  float64
 15  dateNotification           299670 non-null  object
 16  datePublicationDonnees     299668 non-null  object
 17  formePrix                  299670 non-null  object
 18  attributionAvance          125791 non-null  float64
 19  offresRecues               198227 non-null  float64
 20  marcheInnovant             123320 non-null  float64
 21  ccag                       299670 non-null  object
 22  sousTraitanceDeclaree      155111 non-null  float64
 23  typeGroupementOperateurs   299670 non-null  object
 24  tauxAvance                 170113 non-null  float64
 25  origineUE                  169189 non-null  float64
 26  origineFrance              169190 non-null  float64
 27  lieuExecution_code         299670 non-null  object
 28  lieuExecution_typeCode     299670 non-null  object
 29  idAccordCadre              65564 non-null   object
 30  source_open_data           299670 non-null  object
dtypes: float64(9), object(22)
memory usage: 70.9+ MB

In [6]:
data['typeGroupementOperateurs'].unique()

array(['Pas de groupement', 'Solidaire', 'Conjoint'], dtype=object)

In [7]:
data['montant'].max()

99999999999999.0

In [8]:
data['montant'].min()

0.01

# Gestion des id ?

In [ ]:
#buyer_freq = train['acheteur_id'].value_counts(normalize=True)
#train['acheteur_freq'] = train['acheteur_id'].map(buyer_freq)

In [ ]:
#train['acheteur_freq'].max()

In [ ]:
#max_freq_buyer = train[train['acheteur_freq'] == train['acheteur_freq'].max()]
#max_freq_buyer[['acheteur_id', 'acheteur_freq', 'acheteur_nom']]

# Feature selection

In [ ]:
columns_drop = ['uid', 'id', 'acheteur_siren', 'acheteur_id', 'attributionAvance','acheteur_nom', 'titulaire_id', 'titulaire_nom', 'titulaire_siren', 'source_open_data', 'titulaire_typeIdentifiant', 'objet', 'lieuExecution_typeCode', 'lieuExecution_typeCode', 'dateNotification', 'datePublicationDonnees']
data = data.drop(columns=columns_drop)
data

,nature,montant,codeCPV,procedure,dureeMois,formePrix,attributionAvance,offresRecues,marcheInnovant,ccag,sousTraitanceDeclaree,typeGroupementOperateurs,tauxAvance,origineUE,origineFrance,lieuExecution_code,idAccordCadre
0,Marché,80199.00,45261100-5,Procédure adaptée,11.0,Forfaitaire,NaN,3.0,NaN,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,54980,None
1,Marché,53258.16,71200000-0,Procédure adaptée,48.0,Forfaitaire,NaN,1.0,NaN,Prestations intellectuelles,1.0,Solidaire,NaN,NaN,NaN,35520,None
2,Marché,3010076.11,45232420-2,Procédure adaptée,27.0,Forfaitaire,NaN,3.0,NaN,Travaux,NaN,Solidaire,NaN,NaN,NaN,97112,None
3,Marché,3281341.00,50720000,Appel d'offres ouvert,84.0,Forfaitaire,0.0,2.0,0.0,Pas de CCAG,0.0,Pas de groupement,NaN,NaN,NaN,39,None
4,Marché,560000.00,15800000,Appel d'offres ouvert,48.0,Unitaire,0.0,2.0,0.0,Fournitures courantes et services,0.0,Pas de groupement,0.0,0.0,0.0,45800,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299665,Marché,175160.00,50531100-7,Appel d'offres ouvert,48.0,Mixte,NaN,9.0,NaN,Fournitures courantes et services,NaN,Pas de groupement,NaN,NaN,NaN,30947,None
299666,Marché,45300.00,45442100-8,Procédure adaptée,11.0,Forfaitaire,NaN,4.0,NaN,Travaux,NaN,Pas de groupement,NaN,NaN,NaN,33320,None
299667,Marché,6306875.00,45232150-8,Procédure avec négociation,15.0,Unitaire,0.0,5.0,0.0,Travaux,1.0,Conjoint,NaN,NaN,NaN,44100,None
299668,Marché,658000.00,77112000-8,Procédure adaptée,21.0,Mixte,NaN,NaN,NaN,Travaux,NaN,Pas de groupement,0.0,0.0,0.0,97190,None
299669,Marché,43754.10,79413000-2,Appel d'offres ouvert,12.0,Forfaitaire,NaN,1.0,NaN,Prestations intellectuelles,NaN,Pas de groupement,0.0,0.0,0.0,13567,2024Z240001F0

In [10]:
#si on veut garder les colonnes de NLP
#columns_drop_NLP]
#data_NLP = data.drop(columns=columns_drop_NLP)
#data_NLP

# Train/test split

In [10]:
train, test = train_test_split(data, test_size=0.2, random_state=0)

In [11]:
train.to_csv(os.path.join(os.path.dirname(os.getcwd()), 'data', 'train.csv'), index=False)
test.to_csv(os.path.join(os.path.dirname(os.getcwd()), 'data', 'test.csv'), index=False)

# Missing data

## Duree mois

In [12]:
train.isnull().sum()

nature                           0
montant                          0
codeCPV                          0
procedure                        0
dureeMois                        6
formePrix                        0
attributionAvance           139179
offresRecues                 81034
marcheInnovant              141146
ccag                             0
sousTraitanceDeclaree       115718
typeGroupementOperateurs         0
tauxAvance                  103643
origineUE                   104388
origineFrance               104388
lieuExecution_code               0
idAccordCadre               187392
dtype: int64

In [13]:
train[train['dureeMois'].isnull()]

,nature,montant,codeCPV,procedure,dureeMois,formePrix,attributionAvance,offresRecues,marcheInnovant,ccag,sousTraitanceDeclaree,typeGroupementOperateurs,tauxAvance,origineUE,origineFrance,lieuExecution_code,idAccordCadre
266676,Marché,400000.0,79822500,Appel d'offres ouvert,NaN,Unitaire,0.0,3.0,0.0,Fournitures courantes et services,0.0,Pas de groupement,0.0,0.0,0.0,78500,202411B
10514,Marché,62645.0,34114000,Appel d'offres ouvert,NaN,Forfaitaire,0.0,2.0,0.0,Fournitures courantes et services,0.0,Pas de groupement,0.0,0.0,0.0,74330,None
105913,Marché,340000.0,45223220,Procédure adaptée,NaN,Forfaitaire,0.0,4.0,0.0,Travaux,1.0,Pas de groupement,0.0,0.0,0.0,72700,None
214180,Marché,32000.0,18100000,Procédure adaptée,NaN,Unitaire,0.0,4.0,0.0,Fournitures courantes et services,0.0,Pas de groupement,0.0,1.0,1.0,14280,202404101
235556,Marché,240000.0,18110000,Appel d'offres ouvert,NaN,Unitaire,1.0,3.0,0.0,Pas de CCAG,0.0,Pas de groupement,0.1,1.0,1.0,38000,24A0213
174822,Marché,45140.0,45320000,Procédure adaptée,NaN,Forfaitaire,1.0,4.0,0.0,Pas de CCAG,0.0,Pas de groupement,0.1,0.0,0.0,20220,None

In [14]:
# supprimer les lignes où 'dureeMois' est NaN
train = train.dropna(subset=['dureeMois'])
train.isnull().sum()

nature                           0
montant                          0
codeCPV                          0
procedure                        0
dureeMois                        0
formePrix                        0
attributionAvance           139179
offresRecues                 81034
marcheInnovant              141146
ccag                             0
sousTraitanceDeclaree       115718
typeGroupementOperateurs         0
tauxAvance                  103643
origineUE                   104388
origineFrance               104388
lieuExecution_code               0
idAccordCadre               187389
dtype: int64

In [16]:
train

,nature,montant,codeCPV,procedure,dureeMois,formePrix,attributionAvance,offresRecues,marcheInnovant,ccag,sousTraitanceDeclaree,typeGroupementOperateurs,tauxAvance,origineUE,origineFrance,lieuExecution_code,idAccordCadre
112402,Marché,106866.59,45111291,Appel d'offres ouvert,23.0,Unitaire,1.0,2.0,0.0,Travaux,0.0,Pas de groupement,0.05,0.0,0.0,57100,None
265750,Marché,6000000.00,45231400-9,Appel d'offres ouvert,36.0,Mixte,NaN,NaN,NaN,Pas de CCAG,NaN,Pas de groupement,0.00,0.0,0.0,12032,None
144303,Marché,2200000.00,45232410-9,Appel d'offres ouvert,12.0,Forfaitaire,0.0,2.0,0.0,Travaux,0.0,Conjoint,NaN,NaN,NaN,78230,2023-0202
292249,Marché,2400000.00,71351810-4,Appel d'offres ouvert,48.0,Mixte,NaN,NaN,NaN,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,04,2023602099
274515,Marché,2268857.60,33000000-0,Procédure adaptée,36.0,Unitaire,NaN,NaN,NaN,Fournitures courantes et services,NaN,Pas de groupement,0.00,0.0,0.0,76,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211543,Marché,50400.00,72500000-0,Procédure adaptée,12.0,Unitaire,0.0,NaN,0.0,Pas de CCAG,0.0,Pas de groupement,NaN,NaN,NaN,44,2023S0156MAOOC
86293,Marché,440742.36,45262660-5,Appel d'offres ouvert,9.0,Mixte,NaN,NaN,NaN,Pas de CCAG,1.0,Pas de groupement,NaN,NaN,NaN,69123,None
122579,Marché,77221.40,45421000-4,Procédure adaptée,16.0,Unitaire,NaN,NaN,NaN,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,12490,None
152315,Marché,212125.00,45262512,Procédure adaptée,24.0,Forfaitaire,1.0,5.0,0.0,Travaux,0.0,Conjoint,0.05,0.0,0.0,13210,None
117952,Marché,5200000.00,48920000-3,Appel d'offres ouvert,48.0,Mixte,NaN,NaN,NaN,Techniques de l'information et de la communica...,NaN,Pas de groupement,NaN,NaN,NaN,57071,202222558A01

## Dates : dateNotification et datePublicationDonnees : DROP or NOT ?
A encoder cycliquement avec `sin`/`cos`

In [16]:
#date_columns = ['dateNotification', 'datePublicationDonnees']
#train = train.drop(columns=date_columns)

## Marche innovant

In [17]:
data['marcheInnovant'].isnull().sum()

176350

In [18]:
imputer = SimpleImputer(strategy='constant', fill_value=0.0)
train['marcheInnovant'] = imputer.fit_transform(train[['marcheInnovant']])
train['marcheInnovant'].isnull().sum()

0

In [33]:
train.isna().sum()

nature                           0
montant                          0
codeCPV                          0
procedure                        0
dureeMois                        0
formePrix                        0
attributionAvance           139179
offresRecues                 81034
marcheInnovant                   0
ccag                             0
sousTraitanceDeclaree       115718
typeGroupementOperateurs         0
tauxAvance                       0
origineUE                   104388
origineFrance               104388
lieuExecution_code               0
idAccordCadre               187389
dtype: int64

## Avance

In [ ]:
#modifier les nan de taux avance en O (avec simple imputer)
imputer = SimpleImputer(strategy='constant', fill_value=0.0)
train['tauxAvance','attributionAvance'] = imputer.fit_transform(train[['tauxAvance']])
train['tauxAvance'].isnull().sum()

0

In [32]:
train['tauxAvance'].isna().sum()

0

In [22]:
data[data['attributionAvance'].isnull() & data['tauxAvance'].isnull()]

,nature,montant,codeCPV,procedure,dureeMois,formePrix,attributionAvance,offresRecues,marcheInnovant,ccag,sousTraitanceDeclaree,typeGroupementOperateurs,tauxAvance,origineUE,origineFrance,lieuExecution_code,idAccordCadre
0,Marché,80199.00,45261100-5,Procédure adaptée,11.0,Forfaitaire,NaN,3.0,NaN,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,54980,None
1,Marché,53258.16,71200000-0,Procédure adaptée,48.0,Forfaitaire,NaN,1.0,NaN,Prestations intellectuelles,1.0,Solidaire,NaN,NaN,NaN,35520,None
2,Marché,3010076.11,45232420-2,Procédure adaptée,27.0,Forfaitaire,NaN,3.0,NaN,Travaux,NaN,Solidaire,NaN,NaN,NaN,97112,None
8,Marché,2000000.00,45111100-9,Procédure adaptée,48.0,Unitaire,NaN,7.0,NaN,Travaux,NaN,Solidaire,NaN,NaN,NaN,40011,None
10,Marché,66030.80,60130000-8,Appel d'offres ouvert,36.0,Unitaire,NaN,NaN,NaN,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,09400,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299650,Marché,40000.00,33000000-0,Appel d'offres restreint,36.0,Mixte,NaN,NaN,NaN,Fournitures courantes et services,NaN,Pas de groupement,NaN,NaN,NaN,76,None
299651,Marché,200000.00,33000000-0,Procédure adaptée,36.0,Unitaire,NaN,NaN,NaN,Fournitures courantes et services,NaN,Pas de groupement,NaN,NaN,NaN,76,None
299664,Marché,70000.02,71317200-5,Procédure adaptée,36.0,Unitaire,NaN,9.0,NaN,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,83310,2024MA24016
299665,Marché,175160.00,50531100-7,Appel d'offres ouvert,48.0,Mixte,NaN,9.0,NaN,Fournitures courantes et services,NaN,Pas de groupement,NaN,NaN,NaN,30947,None
299666,Marché,45300.00,45442100-8,Procédure adaptée,11.0,Forfaitaire,NaN,4.0,NaN,Travaux,NaN,Pas de groupement,NaN,NaN,NaN,33320,None

In [23]:
data[['tauxAvance', 'attributionAvance']].isnull()

        tauxAvance  attributionAvance
0             True               True
1             True               True
2             True               True
3             True              False
4            False              False
...            ...                ...
299665        True               True
299666        True               True
299667        True              False
299668       False               True
299669       False               True

[299670 rows x 2 columns]

In [24]:
data2 = data[data['attributionAvance'] == 0]

In [25]:
data2[['attributionAvance', 'tauxAvance']]

        attributionAvance  tauxAvance
3                     0.0         NaN
4                     0.0         0.0
7                     0.0         0.0
13                    0.0         NaN
14                    0.0         0.0
...                   ...         ...
299652                0.0         0.0
299655                0.0         NaN
299656                0.0         NaN
299662                0.0         0.0
299667                0.0         NaN

[107423 rows x 2 columns]

In [26]:
data2['tauxAvance'].isnull().sum()

39369

In [27]:
data

,nature,acheteur_id,acheteur_nom,montant,codeCPV,procedure,dureeMois,formePrix,attributionAvance,offresRecues,marcheInnovant,ccag,sousTraitanceDeclaree,typeGroupementOperateurs,tauxAvance,origineUE,origineFrance,lieuExecution_code,lieuExecution_typeCode,idAccordCadre
0,Marché,21540051600013,COMMUNE DE BATILLY,80199.00,45261100-5,Procédure adaptée,11.0,Forfaitaire,NaN,3.0,NaN,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,54980,Code postal,None
1,Marché,24350066700288,CC VAL D'ILLE-AUBIGNE,53258.16,71200000-0,Procédure adaptée,48.0,Forfaitaire,NaN,1.0,NaN,Prestations intellectuelles,1.0,Solidaire,NaN,NaN,NaN,35520,Code postal,None
2,Marché,24971004700047,COMMUNAUTE DE COMMUNES DE MARIE GALANTE,3010076.11,45232420-2,Procédure adaptée,27.0,Forfaitaire,NaN,3.0,NaN,Travaux,NaN,Solidaire,NaN,NaN,NaN,97112,Code postal,None
3,Marché,62548019900011,"LA MAISON POUR TOUS, SOCIETE ANONYME COOPERATI...",3281341.00,50720000,Appel d'offres ouvert,84.0,Forfaitaire,0.0,2.0,0.0,Pas de CCAG,0.0,Pas de groupement,NaN,NaN,NaN,39,Code département,None
4,Marché,20002563300013,SI DE RESTAURATION COLLECTIVE,560000.00,15800000,Appel d'offres ouvert,48.0,Unitaire,0.0,2.0,0.0,Fournitures courantes et services,0.0,Pas de groupement,0.0,0.0,0.0,45800,Code postal,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299665,Marché,24300064300045,COMMUNAUTE AGGLO NIMES METROPOLE,175160.00,50531100-7,Appel d'offres ouvert,48.0,Mixte,NaN,9.0,NaN,Fournitures courantes et services,NaN,Pas de groupement,NaN,NaN,NaN,30947,Code postal,None
299666,Marché,21330162500017,COMMUNE D'EYSINES,45300.00,45442100-8,Procédure adaptée,11.0,Forfaitaire,NaN,4.0,NaN,Travaux,NaN,Pas de groupement,NaN,NaN,NaN,33320,Code postal,None
299667,Marché,25440109400068,SYNDICAT MIXTE ATLANTIC'EAU,6306875.00,45232150-8,Procédure avec négociation,15.0,Unitaire,0.0,5.0,0.0,Travaux,1.0,Conjoint,NaN,NaN,NaN,44100,Code postal,None
299668,Marché,21971113200015,COMMUNE DU GOSIER,658000.00,77112000-8,Procédure adaptée,21.0,Mixte,NaN,NaN,NaN,Travaux,NaN,Pas de groupement,0.0,0.0,0.0,97190,Code postal,None
299669,Marché,20005480700017,METROPOLE D'AIX-MARSEILLE-PROVENCE,43754.10,79413000-2,Appel d'offres ouvert,12.0,Forfaitaire,NaN,1.0,NaN,Prestations intellectuelles,NaN,Pas de groupement,0.0,0.0,0.0,13567,Code postal,2024Z240001F0

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299670 entries, 0 to 299669
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   nature                    299670 non-null  object
 1   acheteur_id               299670 non-null  object
 2   acheteur_nom              299477 non-null  object
 3   montant                   299670 non-null  float64
 4   codeCPV                   299670 non-null  object
 5   procedure                 299670 non-null  object
 6   dureeMois                 299663 non-null  float64
 7   formePrix                 299670 non-null  object
 8   attributionAvance         125791 non-null  float64
 9   offresRecues              198227 non-null  float64
 10  marcheInnovant            123320 non-null  float64
 11  ccag                      299670 non-null  object
 12  sousTraitanceDeclaree     155111 non-null  float64
 13  typeGroupementOperateurs  299670 non-null  object
 14  tauxAvance                170113 non-null  float64
 15  origineUE                 169189 non-null  float64
 16  origineFrance             169190 non-null  float64
 17  lieuExecution_code        299670 non-null  object
 18  lieuExecution_typeCode    299670 non-null  object
 19  idAccordCadre             65564 non-null   object
dtypes: float64(9), object(11)
memory usage: 45.7+ MB

In [29]:
data[data['dureeMois']< 2.0]

,nature,acheteur_id,acheteur_nom,montant,codeCPV,procedure,dureeMois,formePrix,attributionAvance,offresRecues,marcheInnovant,ccag,sousTraitanceDeclaree,typeGroupementOperateurs,tauxAvance,origineUE,origineFrance,lieuExecution_code,lieuExecution_typeCode,idAccordCadre
38,Marché,21400065500016,COMMUNE DE CAPBRETON,371117.80,44316500-3,Appel d'offres ouvert,1.0,Forfaitaire,NaN,3.0,NaN,Travaux,NaN,Pas de groupement,NaN,NaN,NaN,40130,Code postal,None
43,Marché,21410241000013,COMMUNE DE SELLES SAINT DENIS,124768.80,45111291-4,Appel d'offres ouvert,1.0,Unitaire,NaN,NaN,NaN,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,41300,Code postal,None
66,Marché,21590090300018,COMMUNE DE BONDUES,135352.47,45259900-6,Procédure adaptée,1.0,Forfaitaire,NaN,2.0,NaN,Travaux,NaN,Pas de groupement,0.0,0.0,0.0,59910,Code postal,None
75,Marché,21180197200012,COMMUNE DE SAINT AMAND MONTROND,74700.00,45261213-0,Procédure adaptée,1.0,Forfaitaire,NaN,2.0,NaN,Travaux,NaN,Pas de groupement,0.0,0.0,0.0,18200,Code postal,None
77,Marché,21060157100016,COMMUNE DE VENCE,240000.00,15896000-5,Appel d'offres ouvert,1.0,Unitaire,0.0,2.0,0.0,Fournitures courantes et services,0.0,Pas de groupement,NaN,NaN,NaN,06140,Code postal,202323PF33012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299529,Marché,20003607700010,COMMUNAUTE DE COMMUNES DU GOLFE DE SAINT-TROPEZ,105557.90,90480000-5,Procédure adaptée,1.0,Unitaire,0.0,NaN,0.0,Pas de CCAG,1.0,Pas de groupement,NaN,NaN,NaN,83310,Code postal,None
299562,Marché,20006725400017,CA PAU BEARN PYRENEES,308016.00,45233140,Procédure adaptée,1.0,Unitaire,0.0,5.0,0.0,Travaux,0.0,Pas de groupement,0.0,0.0,0.0,64000,Code postal,None
299589,Marché,26870851800017,CENTRE HOSPITALIER ET UNIVERSITAIRE DE LIMOGES,393355.59,33600000-6,Procédure avec négociation,1.0,Unitaire,NaN,NaN,NaN,Fournitures courantes et services,NaN,Pas de groupement,NaN,NaN,NaN,75,Code région,None
299598,Marché,20007015900013,CC COEUR DE BEAUCE,46066.17,66515200-5,Procédure adaptée,1.0,Forfaitaire,0.0,NaN,0.0,Pas de CCAG,0.0,Pas de groupement,0.0,0.0,0.0,28310,Code postal,None
299639,Marché,21130051200012,COMMUNE DE LANCON PROVENCE,113635.50,45212200,Procédure adaptée,1.0,Forfaitaire,0.0,5.0,0.0,Travaux,0.0,Pas de groupement,0.0,0.0,0.0,13680,Code postal,None

## Montant
Entre 20_000 et 50_000_000

In [30]:
data['sousTraitanceDeclaree'].unique()

array([nan,  1.,  0.])

# variables categorielles

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239730 entries, 112402 to 117952
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   nature                    239730 non-null  object
 1   acheteur_id               239730 non-null  object
 2   acheteur_nom              239576 non-null  object
 3   montant                   239730 non-null  float64
 4   codeCPV                   239730 non-null  object
 5   procedure                 239730 non-null  object
 6   dureeMois                 239730 non-null  float64
 7   formePrix                 239730 non-null  object
 8   attributionAvance         100551 non-null  float64
 9   offresRecues              158696 non-null  float64
 10  marcheInnovant            239730 non-null  float64
 11  ccag                      239730 non-null  object
 12  sousTraitanceDeclaree     124012 non-null  float64
 13  typeGroupementOperateurs  239730 non-null  object
 14  tauxAvance                136087 non-null  float64
 15  origineUE                 135342 non-null  float64
 16  origineFrance             135342 non-null  float64
 17  lieuExecution_code        239730 non-null  object
 18  lieuExecution_typeCode    239730 non-null  object
 19  idAccordCadre             52341 non-null   object
 20  acheteur_freq             239730 non-null  float64
dtypes: float64(10), object(11)
memory usage: 40.2+ MB

In [38]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
ohe.fit(train[['nature']])
nature_encoded = ohe.transform(train[['nature']])
nature_encoded_df = pd.DataFrame(nature_encoded, columns=ohe.get_feature_names_out(['nature']))
nature_encoded_df.head()

,nature_Marché,nature_Marché de défense ou de sécurité,nature_Marché de partenariat
0,1.0,0.0,0.0
1,1.0,0.0,0.0
2,1.0,0.0,0.0
3,1.0,0.0,0.0
4,1.0,0.0,0.0

In [42]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from scripts.preprocess_categorielle import preprocess_categorielle

columns = ['nature', 'formePrix', 'marcheInnovant', 'sousTraitanceDeclaree']
df_test = preprocess_categorielle(train, columns)

df_test.head()

,acheteur_id,acheteur_nom,montant,codeCPV,procedure,dureeMois,attributionAvance,offresRecues,ccag,typeGroupementOperateurs,...,nature_Marché de défense ou de sécurité,nature_Marché de partenariat,formePrix_Forfaitaire,formePrix_Mixte,formePrix_Unitaire,marcheInnovant_0.0,marcheInnovant_1.0,sousTraitanceDeclaree_0.0,sousTraitanceDeclaree_1.0,sousTraitanceDeclaree_nan
0,21570672200018,COMMUNE DE THIONVILLE,106866.59,45111291,Appel d'offres ouvert,23.0,1.0,2.0,Travaux,Pas de groupement,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
1,20005209000012,SYNDICAT INTERCOMMUNALD'ENERGIES DU DEPARTEMEN...,6000000.00,45231400-9,Appel d'offres ouvert,36.0,NaN,NaN,Pas de CCAG,Pas de groupement,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,20005851900113,CA SAINT GERMAIN BOUCLES DE SEINE,2200000.00,45232410-9,Appel d'offres ouvert,12.0,0.0,2.0,Travaux,Conjoint,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,23974001200012,REGION REUNION,2400000.00,71351810-4,Appel d'offres ouvert,48.0,NaN,NaN,Pas de CCAG,Pas de groupement,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4,26310012500016,CENTRE HOSPITALIER UNIVERSITAIRE DE TOULOUSE,2268857.60,33000000-0,Procédure adaptée,36.0,NaN,NaN,Fournitures courantes et services,Pas de groupement,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

In [43]:
train

,nature,acheteur_id,acheteur_nom,montant,codeCPV,procedure,dureeMois,formePrix,attributionAvance,offresRecues,...,ccag,sousTraitanceDeclaree,typeGroupementOperateurs,tauxAvance,origineUE,origineFrance,lieuExecution_code,lieuExecution_typeCode,idAccordCadre,acheteur_freq
112402,Marché,21570672200018,COMMUNE DE THIONVILLE,106866.59,45111291,Appel d'offres ouvert,23.0,Unitaire,1.0,2.0,...,Travaux,0.0,Pas de groupement,0.05,0.0,0.0,57100,Code postal,None,0.000209
265750,Marché,20005209000012,SYNDICAT INTERCOMMUNALD'ENERGIES DU DEPARTEMEN...,6000000.00,45231400-9,Appel d'offres ouvert,36.0,Mixte,NaN,NaN,...,Pas de CCAG,NaN,Pas de groupement,0.00,0.0,0.0,12032,Code postal,None,0.000342
144303,Marché,20005851900113,CA SAINT GERMAIN BOUCLES DE SEINE,2200000.00,45232410-9,Appel d'offres ouvert,12.0,Forfaitaire,0.0,2.0,...,Travaux,0.0,Conjoint,NaN,NaN,NaN,78230,Code postal,2023-0202,0.000021
292249,Marché,23974001200012,REGION REUNION,2400000.00,71351810-4,Appel d'offres ouvert,48.0,Mixte,NaN,NaN,...,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,04,Code région,2023602099,0.001781
274515,Marché,26310012500016,CENTRE HOSPITALIER UNIVERSITAIRE DE TOULOUSE,2268857.60,33000000-0,Procédure adaptée,36.0,Unitaire,NaN,NaN,...,Fournitures courantes et services,NaN,Pas de groupement,0.00,0.0,0.0,76,Code région,None,0.012180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211543,Marché,25670115200025,SYNDICAT MIXTE DES EAUX ET DE L'ASSAINISSEMENT...,50400.00,72500000-0,Procédure adaptée,12.0,Unitaire,0.0,NaN,...,Pas de CCAG,0.0,Pas de groupement,NaN,NaN,NaN,44,Code région,2023S0156MAOOC,0.001560
86293,Marché,21690123100011,COMMUNE DE LYON,440742.36,45262660-5,Appel d'offres ouvert,9.0,Mixte,NaN,NaN,...,Pas de CCAG,1.0,Pas de groupement,NaN,NaN,NaN,69123,Code commune,None,0.006361
122579,Marché,21120296500011,COMMUNE DE VIALA DU TARN,77221.40,45421000-4,Procédure adaptée,16.0,Unitaire,NaN,NaN,...,Pas de CCAG,NaN,Pas de groupement,NaN,NaN,NaN,12490,Code postal,None,0.000017
152315,Marché,21130100700012,COMMUNE DE SAINT REMY DE PROVENCE,212125.00,45262512,Procédure adaptée,24.0,Forfaitaire,1.0,5.0,...,Travaux,0.0,Conjoint,0.05,0.0,0.0,13210,Code postal,None,0.000063
117952,Marché,20003986500106,METZ METROPOLE,5200000.00,48920000-3,Appel d'offres ouvert,48.0,Mixte,NaN,NaN,...,Techniques de l'information et de la communica...,NaN,Pas de groupement,NaN,NaN,NaN,57071,Code postal,202222558A01,0.003033

## idAccordCadre
None ou autre à encoder

In [47]:
train['idAccordCadre'].isnull().sum()
#if idAccordCadre is not null I impute with 1 else 0
train['idAccordCadre'] = train['idAccordCadre'].notnull().astype(int)
train['idAccordCadre']

112402    0
265750    0
144303    1
292249    1
274515    0
         ..
211543    1
86293     0
122579    0
152315    0
117952    1
Name: idAccordCadre, Length: 239730, dtype: int64

In [49]:
train['idAccordCadre'].isnull().sum()

0

In [50]:
train['ccag'].unique()

array(['Travaux', 'Pas de CCAG', 'Fournitures courantes et services',
       "Techniques de l'information et de la communication",
       "Maitrise d'œuvre", 'Prestations intellectuelles',
       'Marchés industriels'], dtype=object)

In [51]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239730 entries, 112402 to 117952
Data columns (total 21 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   nature                    239730 non-null  object
 1   acheteur_id               239730 non-null  object
 2   acheteur_nom              239576 non-null  object
 3   montant                   239730 non-null  float64
 4   codeCPV                   239730 non-null  object
 5   procedure                 239730 non-null  object
 6   dureeMois                 239730 non-null  float64
 7   formePrix                 239730 non-null  object
 8   attributionAvance         100551 non-null  float64
 9   offresRecues              158696 non-null  float64
 10  marcheInnovant            239730 non-null  float64
 11  ccag                      239730 non-null  object
 12  sousTraitanceDeclaree     124012 non-null  float64
 13  typeGroupementOperateurs  239730 non-null  object
 14  tauxAvance                136087 non-null  float64
 15  origineUE                 135342 non-null  float64
 16  origineFrance             135342 non-null  float64
 17  lieuExecution_code        239730 non-null  object
 18  lieuExecution_typeCode    239730 non-null  object
 19  idAccordCadre             239730 non-null  int64
 20  acheteur_freq             239730 non-null  float64
dtypes: float64(10), int64(1), object(10)
memory usage: 40.2+ MB